#header {
  padding-top: 1%;
  width: 100%;
  background: #15212a;
}

#header .next i {
  color: red;
  margin-left: 2px;
  margin-top: 4px;
}

#header .next p {
  color: #bcbcbc;
  margin-left: 20px;
}

#header .next .next1 {
  color: white;
  background: #ee5586;
  width: 39px;
  border-radius: 16%;
}

#header .prev {
  cursor: pointer;
  position: absolute;
  left: 60%;
}

#header .prev p {
  position: relative;
  margin-left: 5%;
  color: #bcbcbc;
}

#header .prev p:hover {
  color: white;
}

#header .prev .prev1 {
  width: 59vh;
}

#header2 .img2 {
  margin-top: -0%;
  margin-left: -21.5%;
  position: absolute;
  background: black;
}

#header2 .img2 img {
  position: relative;
  opacity: .4;
}

#header3 {
  margin-top: 3%;
}

#header3 .logo {
  cursor: pointer;
}

#header3 .logo img {
  height: 40px;
}

#header3 .menu2 {
  cursor: pointer;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  color: white;
}

#header3 .menu2 p {
  margin-left: 5%;
  background: #a5215e;
  border-radius: 35px;
  font-size: 13px;
  padding-top: 2px;
  padding: 1px 10px;
}

#header3 .menu2 li {
  margin-left: 18%;
}

#header3 .menu {
  margin-top: -5vh;
}

#header3 .menu h6 {
  background: #fdd700;
  -webkit-transform: translateY(135%);
          transform: translateY(135%);
  margin-left: 235%;
  width: 17vh;
  border-radius: 35px;
  padding: 5px 18px;
  height: 25px;
  font-size: 12px;
}

#header3 .menu h6:hover {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: .9s;
  transition: .9s;
  cursor: pointer;
  background: #887f80;
  color: white;
}

#header3 .box {
  position: absolute;
  color: white;
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
}

#header3 .box h1 {
  font-size: 50px;
}

#header3 .box1 {
  position: absolute;
  color: white;
  -webkit-transform: translateY(800%);
          transform: translateY(800%);
  margin-left: 1%;
}

#header3 .box1 .box4 {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}

#header3 .box2 {
  position: absolute;
  height: 30px;
  width: 70px;
  background: #fdd700;
  margin-top: 23.7%;
  margin-left: 7%;
  border-radius: 20px;
}

#header3 .box2 button {
  height: 23px;
  width: 23px;
  border-radius: 50px;
  border: none;
  margin-left: 5%;
  margin-top: 4.9%;
}

#header3 .box5 {
  position: absolute;
  color: white;
  margin-top: 29%;
  margin-left: 1%;
}

#header3 .box7 {
  position: absolute;
  color: white;
  margin-top: 30%;
  -webkit-transform: translateX(-325%);
          transform: translateX(-325%);
}

#header3 .box7 li {
  margin-top: -5%;
}

#header3 .box7 i {
  color: hotpink;
  margin-left: -20%;
  -webkit-transform: translateY(-129%);
          transform: translateY(-129%);
}

#header3 .box9 {
  height: 310px;
  width: 320px;
  position: absolute;
  background: white;
  margin-top: 30%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#header3 .box9 img {
  height: 60px;
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
  margin-left: 15%;
}

#header3 .box9 button {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  margin-left: 12%;
  border: none;
  border-radius: 35px;
  background: #fdd700;
  height: 42px;
  width: 105px;
}

#header3 .box9 button:hover {
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  -webkit-transition: .9s;
  transition: .9s;
  cursor: pointer;
  background: #887f80;
  color: white;
}

#header3 .box9 h4 {
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  margin-left: 14%;
}

#header3 .box9 p {
  -webkit-transform: translateY(370%);
          transform: translateY(370%);
  margin-left: 14%;
  font-size: 13px;
}

#header3 .box9 h6 {
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  margin-left: 14%;
  font-size: 21px;
}

#header3 .box10 {
  height: 325px;
  width: 320px;
  position: absolute;
  background: white;
  margin-top: 26%;
  margin-left: 50%;
}

#header3 .box10 img {
  height: 60px;
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
  margin-left: 15%;
}

#header3 .box10 button {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  margin-left: 12%;
  border: none;
  border-radius: 35px;
  background: #fdd700;
  height: 42px;
  width: 105px;
}

#header3 .box10 button:hover {
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  -webkit-transition: .9s;
  transition: .9s;
  cursor: pointer;
  background: #887f80;
  color: white;
}

#header3 .box10 h4 {
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  margin-left: 14%;
}

#header3 .box10 p {
  -webkit-transform: translateY(370%);
          transform: translateY(370%);
  margin-left: 14%;
  font-size: 13px;
}

#header3 .box10 h6 {
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  margin-left: 14%;
  font-size: 21px;
}

#header3 .box11 {
  height: 250px;
  width: 320px;
  position: absolute;
  background: #68cef5;
  margin-top: 49.1%;
  margin-left: 22.6%;
  border-radius: 0 0 15px 15px;
}

#header3 .box11 i {
  position: absolut;
  border: 2px solid white;
  height: 35px;
  width: 29px;
  padding-top: 8px;
  text-align: center;
  color: white;
  margin-top: 15%;
  margin-left: 15%;
}

#header3 .box11 p {
  -webkit-transform: translateY(18%);
          transform: translateY(18%);
  margin-left: 3%;
}

#header3 .box11 span {
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  margin-left: -10.7%;
  color: white;
}

#header3 .box13 {
  margin-top: 56%;
  margin-left: 26.6%;
}

#header3 .box13 p {
  margin-left: 7.2%;
  margin-top: 9.5%;
  position: absolute;
}

#header3 .box13 span {
  color: white;
  position: absolute;
  margin-top: 11%;
  -webkit-transform: translateX(91%);
          transform: translateX(91%);
}

#header3 .box13 i {
  position: absolute;
  margin-left: 4.9%;
  margin-top: 10.5%;
}

#header3 .box13 .box13 {
  margin-top: 56%;
  margin-left: 26.6%;
}

#header3 .box13 .box13 p {
  margin-left: 7.2%;
  margin-top: 9.5%;
  position: absolute;
}

#header3 .box13 .box13 span {
  color: white;
  position: absolute;
  margin-top: 11%;
  -webkit-transform: translateX(91%);
          transform: translateX(91%);
}

#header3 .box13 .box13 i {
  position: absolute;
  margin-left: 4.9%;
  margin-top: 10.5%;
}

#header3 .box14 {
  margin-top: 60.3%;
  margin-left: 26.6%;
}

#header3 .box14 p {
  margin-left: 7.2%;
  margin-top: 9.5%;
  position: absolute;
}

#header3 .box14 span {
  color: white;
  position: absolute;
  margin-top: 11%;
  -webkit-transform: translateX(128%);
          transform: translateX(128%);
}

#header3 .box14 i {
  position: absolute;
  margin-left: 4.9%;
  margin-top: 10.5%;
}

#header3 .box15 {
  margin-top: 63.9%;
  margin-left: 26.9%;
}

#header3 .box15 p {
  margin-left: 7%;
  margin-top: 9.5%;
  position: absolute;
}

#header3 .box15 span {
  color: white;
  position: absolute;
  margin-top: 11%;
  -webkit-transform: translateX(115%);
          transform: translateX(115%);
}

#header3 .box15 i {
  position: absolute;
  margin-left: 4.8%;
  margin-top: 10.5%;
}

#header3 .black {
  height: 280px;
  width: 320px;
  background: #68cef5;
  margin-top: -3%;
  -webkit-transform: translateX(210.5%);
          transform: translateX(210.5%);
  border-radius: 0 0 15px 15px;
}

#header3 .black i {
  position: absolut;
  border: 2px solid white;
  height: 35px;
  width: 29px;
  padding-top: 8px;
  text-align: center;
  color: white;
  margin-top: 12%;
  margin-left: 19%;
}

#header3 .black p {
  margin-left: 31%;
  -webkit-transform: translateY(-170%);
          transform: translateY(-170%);
}

#header3 .black span {
  margin-left: 30.5%;
  color: white;
  position: absolute;
  -webkit-transform: translateY(-242%);
          transform: translateY(-242%);
}

#header3 .black2 {
  margin-left: 67%;
  -webkit-transform: translateY(-390%);
          transform: translateY(-390%);
}

#header3 .black2 p {
  margin-left: 8%;
  -webkit-transform: translateY(-129%);
          transform: translateY(-129%);
}

#header3 .black2 span {
  margin-left: 8%;
  color: white;
  margin-top: -14%;
  position: absolute;
}

#header3 .black3 {
  -webkit-transform: translateY(-420%);
          transform: translateY(-420%);
  margin-left: 67%;
}

#header3 .black3 p {
  margin-left: 8%;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
}

#header3 .black3 span {
  position: absolute;
  color: white;
  margin-left: 8%;
  -webkit-transform: translateY(-205%);
          transform: translateY(-205%);
}

#header3 .black4 {
  -webkit-transform: translateY(-439%);
          transform: translateY(-439%);
  margin-left: 67%;
}

#header3 .black4 p {
  margin-left: 8%;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
}

#header3 .black4 span {
  position: absolute;
  color: white;
  margin-left: 8%;
  -webkit-transform: translateY(-205%);
          transform: translateY(-205%);
}

#yellow {
  background: #d6d1d1;
  height: 1100px;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

#yellow2 {
  background: white;
  height: 1000px;
  border-radius: 35px;
  width: 989px;
  margin-left: 16%;
  -webkit-transform: translateY(-129%);
          transform: translateY(-129%);
  position: absolute;
}

#yellow2 .hiise img {
  height: 350px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  margin-left: 9%;
}

#yellow2 .hiise h4 {
  margin-left: 350%;
  -webkit-transform: translateY(-899%);
          transform: translateY(-899%);
  width: 99vh;
}

#yellow2 .hiise p {
  -webkit-transform: translateX(144.1%);
          transform: translateX(144.1%);
  margin-top: -170%;
  width: 50vh;
}

#yellow2 .hiise button {
  -webkit-transform: translateX(480%);
          transform: translateX(480%);
  margin-top: 9%;
  border: none;
  border-radius: 35px;
  width: 99px;
  background: #c0e228;
}

#yellow2 .hiise button:hover {
  margin-top: 0.6%;
  -webkit-transition: .9s;
  transition: .9s;
  cursor: pointer;
  background: #887f80;
  color: white;
}

#yellow2 .hiise2 img {
  height: 250px;
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
  margin-left: 450%;
}

#yellow2 .hiise2 h4 {
  margin-left: 30%;
  -webkit-transform: translateY(-450%);
          transform: translateY(-450%);
  width: 99vh;
}

#yellow2 .hiise2 p {
  -webkit-transform: translateX(13%);
          transform: translateX(13%);
  margin-top: -85%;
  width: 50vh;
}

#yellow2 .hiise2 button {
  -webkit-transform: translateX(42%);
          transform: translateX(42%);
  margin-top: 9%;
  border: none;
  border-radius: 35px;
  height: 40px;
  width: 110px;
  background: #c0e228;
}

#yellow2 .hiise2 button:hover {
  margin-top: 0.6%;
  -webkit-transition: .9s;
  transition: .9s;
  cursor: pointer;
  background: #887f80;
  color: white;
}

#qara .img1 {
  background: #2f1447;
  -webkit-transform: translateY(38.1%);
          transform: translateY(38.1%);
  margin-left: -188.9%;
  height: 499px;
  width: 600%;
}

#qara .img2 {
  background: #fdd700;
  height: 499px;
  width: 570px;
  margin-top: -309px;
  -webkit-transform: translateX(93.5%);
          transform: translateX(93.5%);
}

#qara .img3 h4 {
  position: absolute;
  margin-top: -280%;
  color: white;
  width: 99vh;
  margin-left: -80%;
}

#qara .img3 p {
  margin-top: -250%;
  position: absolute;
  color: #887d7d;
  width: 90vh;
  font-size: 15px;
  margin-left: -80%;
}

#qara .img4 {
  height: 250px;
  width: 300px;
  background: white;
  margin-top: -200%;
  position: absolute;
  margin-left: -90%;
  border-radius: 25px;
}

#qara .img4 img {
  margin-left: 15%;
  margin-top: 9%;
  height: 55px;
}

#qara .img4 h6 {
  margin-left: 15%;
  margin-top: 3%;
}

#qara .img4 p {
  margin-top: 9%;
  font-size: 13px;
  width: 200px;
  margin-left: 14%;
}

#qara .img5 {
  height: 250px;
  width: 300px;
  background: white;
  margin-top: -198%;
  position: absolute;
  margin-left: 110%;
  border-radius: 25px;
}

#qara .img5 img {
  margin-left: 15%;
  margin-top: 9%;
  height: 55px;
}

#qara .img5 h6 {
  margin-left: 15%;
  margin-top: 3%;
}

#qara .img5 p {
  margin-top: 9%;
  font-size: 13px;
  width: 200px;
  margin-left: 14%;
}

#qara .img6 {
  height: 250px;
  width: 300px;
  background: white;
  margin-top: -198%;
  position: absolute;
  margin-left: 309%;
  border-radius: 25px;
}

#qara .img6 img {
  margin-left: 15%;
  margin-top: 9%;
  height: 55px;
}

#qara .img6 h6 {
  margin-left: 15%;
  margin-top: 3%;
}

#qara .img6 p {
  margin-top: 9%;
  font-size: 13px;
  width: 200px;
  margin-left: 14%;
}

#end .end2 h1 {
  width: 99vh;
  margin-top: 50%;
  margin-left: -79%;
}

#end .end2 p {
  width: 99vh;
  margin-left: -79%;
}

#end .end3 {
  -webkit-transform: translateY(799%);
          transform: translateY(799%);
}

#end .end3 p {
  margin-left: -89%;
}

#end .end4 {
  -webkit-transform: translateY(650%);
          transform: translateY(650%);
}

#end .end4 p {
  margin-left: 15%;
}

#end .end5 {
  -webkit-transform: translateY(499%);
          transform: translateY(499%);
}

#end .end5 p {
  margin-left: 140%;
  width: 80vh;
}

#end .end6 {
  height: 1px;
  width: 999px;
  background: black;
  margin-left: -91%;
  -webkit-transform: translateY(18vh);
          transform: translateY(18vh);
}

#end .end6 p {
  -webkit-transform: translateY(19px);
          transform: translateY(19px);
}

#end .end6 i {
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
}

#end .end7 {
  height: 1px;
  width: 999px;
  background: black;
  margin-left: -91%;
  -webkit-transform: translateY(28vh);
          transform: translateY(28vh);
}

#end .end7 p {
  -webkit-transform: translateY(19px);
          transform: translateY(19px);
}

#end .end7 i {
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
}

#end .end8 {
  height: 1px;
  width: 999px;
  background: black;
  margin-left: -91%;
  -webkit-transform: translateY(38vh);
          transform: translateY(38vh);
}

#end .end8 p {
  -webkit-transform: translateY(19px);
          transform: translateY(19px);
}

#end .end8 i {
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
}

#end .end9 {
  height: 1px;
  width: 999px;
  background: black;
  margin-left: -91%;
  -webkit-transform: translateY(48vh);
          transform: translateY(48vh);
}

#end .end9 p {
  -webkit-transform: translateY(19px);
          transform: translateY(19px);
}

#end .end9 i {
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
}

#end .end11 {
  height: 1px;
  width: 999px;
  background: black;
  margin-left: -91%;
  -webkit-transform: translateY(58vh);
          transform: translateY(58vh);
}

#end .end12 {
  margin-top: 15.8vh;
  -webkit-transform: translateX(22%);
          transform: translateX(22%);
}

#end .end12 i {
  -webkit-transform: translateY(169%);
          transform: translateY(169%);
  margin-left: -20px;
}

#end .end12 p {
  margin-top: 0.5vh;
}

#end .end13 {
  margin-top: -40vh;
  -webkit-transform: translateX(151%);
          transform: translateX(151%);
}

#end .end13 i {
  -webkit-transform: translateY(169%);
          transform: translateY(169%);
  margin-left: -20px;
}

#end .end13 p {
  margin-top: 0.5vh;
}

#end .end14 p {
  border: none;
  border-radius: 29px;
  height: 40px;
  width: 100px;
  color: white;
  background: #8b8878;
  -webkit-transform: translateX(-259%);
          transform: translateX(-259%);
  margin-top: 7%;
  text-align: center;
  padding-top: 1vh;
}

#end .end14 p:hover {
  margin-top: -68px;
  -webkit-transition: .9s;
  transition: .9s;
  cursor: pointer;
}

#end .end15 p {
  border-radius: 29px;
  height: 40px;
  width: 100px;
  color: white;
  background: #8b8878;
  -webkit-transform: translateX(-275%);
          transform: translateX(-275%);
  margin-top: -19%;
  margin-left: 49vh;
  text-align: center;
  padding-top: 1vh;
}

#end .end15 p:hover {
  margin-top: -68px;
  -webkit-transition: .9s;
  transition: .9s;
  cursor: pointer;
}

#end .end16 p {
  border: none;
  border-radius: 29px;
  height: 40px;
  width: 100px;
  color: white;
  background: #8b8878;
  -webkit-transform: translateX(420%);
          transform: translateX(420%);
  margin-top: -20%;
  text-align: center;
  padding-top: 1vh;
}

#end .end16 p:hover {
  margin-top: -68px;
  -webkit-transition: .9s;
  transition: .9s;
  cursor: pointer;
}

#ag {
  background: #efefef;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */